In [1]:
import pandas as pd

In [2]:
# Lendo arquivo excel
dfClientes   = pd.read_excel('caso_estudo.xlsx', sheet_name = 'clientes')
dfLojas      = pd.read_excel('caso_estudo.xlsx', sheet_name = 'lojas')
dfProdutos   = pd.read_excel('caso_estudo.xlsx', sheet_name = 'produtos')
dfVendas     = pd.read_excel('caso_estudo.xlsx', sheet_name = 'vendas')
dfPagamentos = pd.read_excel('caso_estudo.xlsx', sheet_name = 'pagamentos')

In [3]:
# conferir as venda de um cliente
dfVendas[dfVendas.id_cliente == 264]

        id  id_cliente  id_loja  id_produto   dt_venda
229    230         264        2           3 2018-03-28
562    563         264        5           3 2018-07-07
1438  1439         264        3           3 2019-04-29
2021  2022         264        6           3 2019-11-08
2877  2878         264       10           3 2020-08-14

In [4]:
# Estar acessando uma localização do data Secience cliente em que a linha é 1 e a coluna é nome
dfClientes.loc[1, 'nome']

'Caio Pereira'

In [5]:
# Estar acessando uma localização do data Secience cliente em que a linha é 1 e a coluna é nome
# O faremos?
# Substituiremos as linhas, por aquelas linhas que tem dados nulos. 
# dfClientes.nome.isnull() -> Esse filtro vai buscar todas as linhas que tem dados nulos e a coluna nome do data frame clientes.
# Faremos com esse registro fique sem nome.
# O -> Outro.
# data -> informe que a pessoa tenha menos de 1 ano, para facilitar achar ela depois.

dfClientes.loc[dfClientes.nome.isnull(), 'nome'] = 'Sem nome'
dfClientes.loc[dfClientes.sexo.isnull(), 'sexo'] = 'O'
dfClientes.loc[dfClientes.dt_nasc.isnull(), 'dt_nasc'] = '1/1/2021'

In [6]:
# a localização do id 269 e 287 do data frame clientes
# : -> todas as colunas
dfClientes.loc[[269, 287], :]

      id            nome sexo     dt_nasc
269  270        Sem nome    M    1/1/2021
287  288  Victor Ribeiro    O  12/17/1974

In [7]:
# No Data Frame Cliente verifique se os dados são nulos ou não. E quando é aplicado uma soma nesse resultado.
dfClientes.isnull().sum()

id         0
nome       0
sexo       0
dt_nasc    0
dtype: int64

In [8]:
# No Data Frame Lojas Produtos se os dados são nulos ou não. E quando é aplicado uma soma nesse resultado.
dfProdutos.isnull().sum()

id         0
produto    0
valor      0
dtype: int64

In [9]:
# No Data Frame Lojas verifique se os dados são nulos ou não. E quando é aplicado uma soma nesse resultado.
dfLojas.isnull().sum()

id        0
cidade    0
dtype: int64

In [10]:
# No Data Frame Vendas verifique se os dados são nulos ou não. E quando é aplicado uma soma nesse resultado.
dfVendas.isnull().sum()

id            0
id_cliente    0
id_loja       0
id_produto    0
dt_venda      0
dtype: int64

In [11]:
# No Data Frame Pagamentos verifique se os dados são nulos ou não. E quando é aplicado uma soma nesse resultado.
dfPagamentos.isnull().sum()

id          0
id_venda    0
dt_pgto     0
dtype: int64