In [1]:
"""
O que seria a consistência?
    A consistência é garantir que uma tabela consiga comunicar com a outra.
"""

'\nO que seria a consistência?\n    A consistência é garantir que uma tabela consiga comunicar com a outra.\n'

In [2]:
import pandas as pd

In [3]:
# Lendo arquivo excel
dfClientes   = pd.read_excel('caso_estudo.xlsx', sheet_name = 'clientes')
dfLojas      = pd.read_excel('caso_estudo.xlsx', sheet_name = 'lojas')
dfProdutos   = pd.read_excel('caso_estudo.xlsx', sheet_name = 'produtos')
dfVendas     = pd.read_excel('caso_estudo.xlsx', sheet_name = 'vendas')
dfPagamentos = pd.read_excel('caso_estudo.xlsx', sheet_name = 'pagamentos')

In [4]:
# Vamos buscar por vendas que não possui clientes
# dfVendas.id_clientedfVendas.id_cliente -> Está pegando apenas o id da coluna de vendas
# isin -> está avaliando quais daqueles id estão dentro da coluna id Clientes.
dfVendas.id_cliente.isin(dfClientes.id)

0       True
1       True
2       True
3       True
4       True
        ...
2995    True
2996    True
2997    True
2998    True
2999    True
Name: id_cliente, Length: 3000, dtype: bool

In [5]:
# Vamos buscar por vendas que não possui clientes
# dfVendas.id_clientedfVendas.id_cliente -> Está pegando apenas o id da coluna de vendas
# isin -> está avaliando quais daqueles id NÃO estão dentro da coluna id Clientes.
# .any() -> fala se algum valor é verdadeiro ou não
~dfVendas.id_cliente.isin(dfClientes.id).any()

False

In [6]:
# Vamos buscar por vendas que não possui clientes
# dfVendas.id_clientedfVendas.id_cliente -> Está pegando apenas o id da coluna de vendas
# isin -> está avaliando quais daqueles id NÃO estão dentro da coluna id Clientes.
# .any() -> fala se algum valor é verdadeiro ou não
# vizualizar os dados (visualisar o id clientes que não estão dentro do conjunto do id clientes)
dfVendas [ ~dfVendas.id_cliente.isin(dfClientes.id)]

Empty DataFrame
Columns: [id, id_cliente, id_loja, id_produto, dt_venda]
Index: []

In [7]:
dfVendas [ ~dfVendas.id_loja.isin(dfLojas.id) ]

Empty DataFrame
Columns: [id, id_cliente, id_loja, id_produto, dt_venda]
Index: []

In [8]:
dfVendas [ ~dfVendas.id_produto.isin(dfProdutos.id) ]

Empty DataFrame
Columns: [id, id_cliente, id_loja, id_produto, dt_venda]
Index: []

In [9]:
# filtro: Busque os pagamentos que não tem o id de venda
dfPagamentos[ ~dfPagamentos.id_venda.isin(dfVendas.id) ]

Empty DataFrame
Columns: [id, id_venda, dt_pgto]
Index: []

In [10]:
# filtro: Busque se todas as vendas que não geraram pagamentos
# está vizualizando o data frame Vendas que está gerando um filtro nele.
# De forma em que a coluna id de vendas NÃO está dentro do data frame pagamento
# da coluna id vendas
dfVendas[ ~dfVendas.id.isin(dfPagamentos.id_venda) ]

        id  id_cliente  id_loja  id_produto   dt_venda
3        4          59        4           3 2018-01-05
5        6          52        8           3 2018-01-05
20      21         270        2          10 2018-01-12
21      22         465        2           3 2018-01-12
32      33         459        2           7 2018-01-13
...    ...         ...      ...         ...        ...
2992  2993         764        2           7 2020-09-25
2994  2995           6        2           3 2020-09-27
2997  2998         731        2           4 2020-09-27
2998  2999         163        2           1 2020-09-27
2999  3000         770        2           2 2020-09-27

[928 rows x 5 columns]

In [11]:
# filtro: Busque se todas as vendas que não geraram pagamentos
dfVendas[ ~dfVendas.id.isin(dfPagamentos.id_venda) ].count()
# Temos 928 vendas que não geraram pagamentos

id            928
id_cliente    928
id_loja       928
id_produto    928
dt_venda      928
dtype: int64